<p id="notice"><%= notice %></p>

<h1>Categorias</h1><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Categoria</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @type_movies.each_with_index do |type_movie, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><strong><%=type_movie.category%></strong></td>
        <td><%= link_to 'Editar', edit_type_movie_path(type_movie)%></td>
        <td><%= link_to 'Eliminar', type_movie, method: :delete, data: { confirm: 'Seguro que quieres eliminar esta categoria?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type Movie', new_type_movie_path,  type:"button", class:"btn btn-outline-success" %>
