<p id="notice"><%= notice %></p>

<h1>Type Movies</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_movies.each do |type_movie| %>
      <tr>
        <td><%= link_to type_movie.category, type_movie, class: "black-text" %></td>
        <td><%= link_to 'Editar', edit_type_movie_path(type_movie), class: "black-text"%></td>
        <td><%= link_to 'Eliminar', type_movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type Movie', new_type_movie_path,  class: "waves-effect waves-light btn " %>
