<p id="notice"><%= notice %></p>

<h1 class ="center-text">Actores</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha de nacimiento</th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= link_to actor.name, actor, class: "black-text" %></td>
        <td><%= actor.birth_date %> </td>
        <td><%= link_to 'Editar', edit_actor_path(actor), class: "black-text" %></td>
        <td><%= link_to 'Eliminar', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar actor', new_actor_path,  class: "waves-effect waves-light btn " %>
