<div class="container">
  <div class="demo">
<%= form_for(@lend)  do |form| %>

  <div class="field">
    <%= form.label :Valor %><br>
    <%= form.text_field :value, id: :lend_value,type: "text", class: "form-control", id: "form1", type: "text" %>
  </div><br>

  <div class="field">
    <%= form.label :Fecha_del_prestamo %> <br>
    <%= form.date_field :loan_date,start_year: 1990, id: :lend_loan_date, class: "datepicker" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :Fecha_de_entrega %> <br>
    <%= form.date_field :deliver_date,start_year: 1990, id: :lend_deliver_date, class: "datepicker" %>
  </div>
  <br>
  <label>Pelicula: </label><br>
  <div class="mdl-selectfield">
    <%= collection_select(:lend, :movie_id, Movie.all, :id, :title, {:multiple => false})%><br><br>
  </div>

  <label>Usuario: </label><br>
  <div class="mdl-selectfield">
    <%= collection_select(:lend, :user_id, User.all, :id, :name, {:multiple => false})%><br><br>
  </div>

  <% if lend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lend.errors.count, "error") %> prohibited this lend from being saved:</h2>

      <ul>
      <% lend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
  </div>
</div>
