<%= form_with(model: lend, local: true) do |form| %>
  <% if lend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lend.errors.count, "error") %> prohibited this lend from being saved:</h2>

      <ul>
      <% lend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :lend_value %>
  </div>

  <div class="field">
    <%= form.label :loan_date %>
    <%= form.date_select :loan_date, id: :lend_loan_date %>
  </div>

  <div class="field">
    <%= form.label :deliver_date %>
    <%= form.date_select :deliver_date, id: :lend_deliver_date %>
  </div>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.text_field :movie_id, id: :lend_movie_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :lend_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
