<p id="notice"><%= notice %></p>

<h1>Lends</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Fecha del prestamo</th>
      <th>Fecha de devolcuion</th>
      <th>Pelicula</th>
      <th>Usuario</th>
      <th>Valor prestamo</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @lends.each_with_index do |lend, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= lend.loan_date %></td>
        <td><%= lend.deliver_date %></td>
        <td><%= Movie.find(lend.movie_id).title %></td>
        <td><%= User.find(lend.user_id).name %></td>
        <td><%= lend.value %></td>
        <td><%= link_to 'Editar', edit_lend_path(lend)%></td>
        <td><%= link_to 'Eliminar', lend, method: :delete, data: { confirm: 'Seguro que quieres eliminar esta categoria?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Nuevo prestamo', new_lend_path, type:"button", class:"btn btn-outline-success" %>
