<nav class="navbar navbar-expand-lg navbar-dark "style="background-color: #26a69a;">
  <%= link_to "Video Club", movies_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Categoria", type_movies_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Actor", actors_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Peliculas", movies_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, class: "nav-link"%>
        </li>

      <% else %>
        <li class="nav-item active">
          <%= link_to "Iniciar sesion", new_user_session_path, class: "nav-link"%>
        </li>
        <li class="nav-item active">
          <%= link_to "Crear cuenta", new_user_registration_path, class: "nav-link"%>
        </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
